<header class='jumbotron'>
    <div class='container d-flex justify-content-center align-items-center'>
        <div class='heading text-white'>
            <h1>{{title}}</h1>
            <p class='subheading text-center'>{{description}}</p>
        </div>
    </div>
</header>

<div class='container mt-5 d-flex justify-content-center'>
    <div class='blog col-md-8'>
        <div class='post row mx-1'>
            <p class='content'>
                {{content}}
            </p>
            <p class='col-10 post-meta text-secondary fst-italic'>
                Posted by
                <span class='user'>{{user.name}}</span>
                on
                <span class='date'>{{format_date date_created}}</span>
            </p>
            <p
                class='col-2 edit-button border-top border-bottom border-warning text-center'
                data-id='{{post.id}}'
            >Edit</p>
        </div>

        <hr class='my-4' />
        <div class='container d-flex flex-wrap flex-lg-nowrap justify-content-center mt-5'>
            <div class='col-md-8 mx-3 mb-5 px-3'>
                <h3>Comments</h3>
                <hr class='my-4' />

                {{#each comments as |comment|}}
                    <div class='comments'>
                        <p>
                            {{comment.comment}}
                        </p>
                        <p class='post-meta text-secondary fst-italic'>
                            Posted by
                            <span class='user'>{{comment.user.name}}</span>
                            on
                            <span class='date'>{{format_date date_created}}</span>
                        </p>
                        <hr class='my-4' />
                    </div>
                {{/each}}

                {{#if logged_in}}
                    <form class='form new-comment-form' data-id='{{id}}'>
                        <div class='form-group mb-3 row'>
                            <label for='comment-content'>leave a comment:</label>
                            <textarea class='form-input' id='comment-content' name='comment-content'></textarea>
                        </div>
                        <div class='form-group text-center'>
                            <button type='submit' class='btn btn-primary'>Comment</button>
                        </div>
                    </form>
                {{/if}}
            </div>
        </div>
    </div>
</div>

<script src='/js/comment.js'></script>